body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.nav {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-background-color);
}

.centralPanel {
  background-color: beige;
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.menu {
  min-width: var(--menu-min-width);
  width: var(--menu-default-width);
  background-color: var(--menu-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
}
.menu-item {
  min-width: var(--menu-item-min-width);
  width: var(--menu-item-width);
  height: var(--menu-item-height);
}

.menu-item1 {
  background-color: orange;
}
.menu-item2 {
  background-color: blue;
}
.menu-item3 {
  background-color: chartreuse;
}
.menu-item:hover {
  box-shadow: var(--box-hover-shadow);
  z-index: 99;
  transform: scale(1.05, 1.05);
  border-radius: 2px;
}

.allCards {
  width: var(--cards-container-width);
  height: var(--cards-container-height);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 12px;
}
.allCards:hover .card:not(:hover) {
  transform: scale(0.9, 0.9);
  transition: 1s;
  /* align-content: flex-start; 
    transition: 1s;  */
}
/* .allCards:hover .card{
    /* margin: 12px; */
/* transition: 1s; */
/* transform: scale(1.5, 1.5) */
/* transform: scale(0.9, 0.9); */

/*
Pour utiliser une variable définie auparavant et récupérer sa valeur, il suffit de suivre la syntaxe
var(--nom-de-la-variable)
*/
.card {
  background-color: chartreuse;
  width: var(--card-size);
  height: var(--card-size);
  margin: var(--card-margin);
}
/* .card:hover {
    transform: scale(1.2, 1.2)!important;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.allCards::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 700px) {
  .centralPanel {
    flex-direction: column-reverse;
    align-items: center;
  }
  .menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
